/* general */
body {
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

.m-serrat {
    font-family: 'Montserrat', sans-serif;
}

.lato {
    font-family: 'Lato', sans-serif;
}

.bg-dark-blue {
    background-color: #2c3e50;
}

.bg-green {
    background-color: #1abc9c;
}

.bg-white {
    background-color: #ffffff;
}

.bg-black {
    background-color: #1a252f;
}

.text-grey {
    color: grey;
}

.text-dark {
    color: #130F0F;
}

.text-white {
    color: #ffffff;
}

/* header */
header {
    height: 104px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

header #left {
    line-height: 104px;
    font-weight: bold;
}

header #left {
    font-size: 28px;
}

header #right {
    line-height: 104px;
    font-size: 16px;
}

header #right:last-child li {
    padding: 0 16px;
}

header #right a:hover {
    color: #1abc9c;
}

#right button {
    /* allineo il bottone verticalmente con del margine */
    margin-top: 35px;
    border: 1px solid #1abc9c;
    font-size: 13px;
}

/* jumbo */
#jumbo {
    padding-top: 104px;
}

/* diminusco il font-size del logo sotto i 992px */
@media screen and (max-width:991px) {
    header #left {
        font-size: 20px;
    }
}